<mat-spinner style="margin:0 auto;" color="accent" diameter="30" *ngIf="isLoaded"></mat-spinner>
<div style="margin: 10px 0;">
  <mat-card style="margin: 5px 10px;">
    <mat-card-header>
      <mat-card-title>{{ parking.nom }}</mat-card-title>
      <mat-card-subtitle [ngStyle]="calculStyleStatut(parking)">{{ parking.statut }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <span>Places disponibles : {{ parking.nbPlacesDispo }}</span><br>
      <span>Place au total : {{ parking.nbPlacesTotal }}</span><br>
      <br>
      <span style="font-style: italic;">Dernière mise à jour à {{ parking.heureMaj }}</span>
    </mat-card-content>
  </mat-card>
</div>
<div style="display: flex; justify-content: center;">
  <button mat-icon-button [routerLink]="['/parkings']">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
</div>
